footer {
  background-color: #262626;
  color: white;
  margin: 0;
  padding: 15px;
}

.footerLinks {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));

}

section {
    margin: 1em;
    display: inline-block;
    text-align: left;
}

.linkContainer {
  margin-top: 10px;
}

.footerLink {
  color: #C0C0C0;
  text-decoration: none;
  font-size: 0.8em;
}

.footerLink:hover {
  text-decoration: underline;
  color: white;
}
